.hearts {
    display: flex;
    flex-direction: row;
    background-color: green;
    img{
        height: 30px;
    }
    p{
        padding-left: 20px;
    }
}

.wrong{
    background-color: red !important;
}

.correct{
    background-color: green !important;
}